$--main-color: #010005;
$--main-color-2: #e40520;
// $--color-transparent: transparent;
$--color-white: #fff;
$--color-text: #333;
$--hover-color: #d5a73d;
$--hover-blue: #0466ba;
$--border-color: #b9b9b9;
$--border-color-2: #e2e2e2; 
$--border-color-3: #e5e5e5;
$--yellow-color: #d5a73d;
$--color-gray: #f2f2f2;
$--color-gray-2: #949494;
$--color-figcaption: #efefef;
// $--color-red: #ec3237;
// $--color-text-table: #2c4798;
// $--color-border-update-ani: #e8e6ef;
$--color-date: #626262;
// $--color-input-text: #7e7e7e;
// $--color-text-species: #1d3a91;
// $--color-page-active: #4166d3;
$--color-border-page: #d7d7d7;

// $--bgc-header-table: #898989;
// $--bgc-body-table: #ececec;
// $--bgc-footer: #ebebeb;
// $--bgc-slide-update-animals: #f8f8f8;
// $--bgc-dot: #999;
// $--bgc-color-img-desc: #eee;

// $--height-header: 120px;
// $--height-header-tl: 90px;
// $--height-header-mb: 60px;
// $--height-select: 35px;
// $--height-lists-tab: 48%;
$--height-btn: 35px;
$--height-btn-mb: 35px;
// $--height-textarea: 80px;
// $--height-textarea-mb: 60px;

// $--width-select: 255px;
// $--width-select-mb: 200px;
// $--width-logo-tl: 50px;
// $--width-logo-mb: 30px;

// $--border-radius: 8px;
$--border-radius-clicle: 50%;
